:root {
    --main-radius: 5px;
    --main-padding: 5px;
}
.back {
    background-color:#F5C7A9;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
    "sidebar main main main"
    "sidebar main main main"
    "sidebar2 content1 content1 content1"
    "sidebar2 content1 content1 content1";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;

}

.main {
    background-color:#B56A47;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: center;

}

.sidebar {
    background-color: #B56A47;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: center;
    align-items: center;

}

.sidebar2 {
    background-color: #FFA67D;
    grid-area: sidebar2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #361f15;

}


.content1 {
    background-color: #FFA67D;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer {
    background: #090239;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}


.input {

    border: 2px solid rgb(116, 7, 7);
    border-radius: 5px;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    width: 90%;
    max-width: 450px;
    max-height: 200px;
    margin-top: 5rem;
    font-size: 16px;
    padding: 1rem;
    color: #361f15;

  }

.input1 {
    text-align: center;
    height: 20px;
}
  

.button {
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    display: flex;
    flex-flow: flex wrap;
  }
  
.button1 {
    font-size: 18px;
}     
  
.mean {
    border: 2px solid #EB4844;
    border-radius: 8px;
    background-color: #EB8150;
    padding: 5px 9px;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    font-size: 1.25em;
    color: #361f15;

}

.median {
    border: 2px solid #EB4844;
    border-radius: 8px;
    background-color: #EB8150;
    padding: 5px 9px;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    font-size: 1.25em;
    color: #361f15;
}

.mode {
    border: 2px solid #EB4844;
    border-radius: 8px;
    background-color: #EB8150;
    padding: 5px 9px;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    text-align: center;
    font-size: 1.25em;
    color: #361f15;
    
}

.stddev {
    border: 2px solid #EB4844;
    border-radius: 8px;
    background-color: #EB8150;
    padding: 5px 9px;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    font-size: 1.25em;
    color: #361f15;
}

.varType {
    border: 2px solid #EB4844;
    border-radius: 8px;
    background-color: #EB8150;
    padding: 5px 9px;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    font-size: 1.25em;
    color: #361f15;
}

#meme {
    font-size: 200%;
    color: #361f15;
}

.footer {
    background-color: #EB895B;
    padding: 3rem;
    color: #361f15;
    margin-top: 5px;
}

.footer section {
    float: right;
}

.footer p {
    margin: 0;
}

.footer a {
    transition: color 0.3s ease;
    color: #361f15;
    text-decoration: none;
}

.footer a:hover {
    color: rgb(112, 0, 0);
}

@media (max-width: 550px) {
    .container {
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
        "main main main main"
        "sidebar sidebar sidebar sidebar"
        "content1 content1 content1 content1"
        "sidebar2 sidebar2 sidebar2 sidebar2"
        ;
        text-align: left;
    }
    
    .input {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .mean {
        text-align: left;
    }

    .median {
        text-align: left;
    }

    .mode {
        text-align: left;
    }

    .stddev {
        text-align: left;
    }

    .varType {
        text-align: left;
    }
}
